<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat Da Burger!</title>

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

		<!-- Font Awesome Icons -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Custom Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet">
		

	</head>
	<body>
		{{{ body }}}

		<!-- jquery script -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap script -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- Custom script -->
		<script src="/assets/js/burger.js"></script>
	</body>
</html>